.hero{
    padding:3.2rem 0;
     background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
     background-size: cover;
     background-position: center;
     height: 60vh;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

    }
/*.img-cover{
  background: local(url('../assets/hero-bg.png')) no-repeat center;
   background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/
.hero-inner{
    display:flex;
    grid-template-columns:1fr 480px;
    gap:2rem;
    align-items:center;
    justify-content: center;
    
    
    
}
.hero-title{
    font-size:3rem;
    line-height:1.02;
    background:linear-gradient(90deg,var(--primary-1),var(--primary-2));
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
    align-items: center;
    justify-content: center;
}
.hero-sub{
    color:var(--muted);
    margin-top:1rem;
    margin-bottom:1.2rem;
    align-items: center;
    justify-content: center;
}
.hero-cta{
    display:flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
}
/*.hero-right .hero-card{overflow:hidden}
/*.img{
    background-size: cover;
}*/


@media (max-width:980px){
.hero, .hero-inner{grid-template-columns:1fr;}
/*.hero-right{order:-1;margin-bottom:1rem}*/
}